PORT=3000
PRIVATE_KEY=[number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number, number]
# pode usar essa url mesmo
METADATA_URI=https://solana-wallet-manipulation-api.onrender.com/api/metadata 
GITHUB_TOKEN=ghp_*******************************